<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{static/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<!--<div sec:authorize="isAuthenticated()">
    <p>登陆用户：<span sec:authentication="name"></span></p>
    <p>登陆角色：<span sec:authentication="principal.authorities"></span></p>
</div>-->


<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">spring security学习</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <th:block th:each="res : ${listOnes}">
                <li class="layui-nav-item"><a th:href="${res.url}" th:text="${res.resourceName}"></a></li>
            </th:block>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:alert('不要点我');">
                    <img src="https://avatar.csdn.net/E/2/1/3_sinat_33151213.jpg" class="layui-nav-img">
                        <span sec:authentication="name"></span>
                </a>
            </li>
            <li class="layui-nav-item"><a href="logout">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <th:block th:each="res : ${listTwos}">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" th:href="${res.url}" th:text="${res.resourceName}"></a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">内容主体区域</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script>

</script>
</body>
</html>