<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" th:href="@{static/layui/css/layui.css}">
</head>
<body>
<form class="layui-form" lay-filter="example">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" id="username" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" id="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" onclick="login()" class="layui-btn">立即提交</button>
        </div>
    </div>
</form>

<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script>
        function login() {

            $.ajax({
                type: 'POST',
                url: 'user/login',
                data: {
                    "username": $("#username").val(),
                    "password": $("#password").val()
                },
                success: function(data) {
                    if (data.flag) {
                        window.location.href = "home";
                    } else {
                        alert(data.message);
                    }
                }
            });
        }
</script>
</body>
</html>